{% extends "base.html.twig" %}

{% block body %}
<header>
    header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
                <a class="navbar-brand" href="#">Égregore livres</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('products_all') }}">produits</a>
                            </li>
                            {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                                <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                            {% endif %}

                                <li class="nav-item text-right">
                                    <a class="nav-link" href="{{ path('panier_show') }}">panier</a>
                                </li>
                            </ul>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Admin</a></li>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('admin_ajout_product')}}">Ajout d'un Produit</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_ajout_category')}}">Ajout d'une Catégorie</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_gestion_products')}}">Gestion des Produits</a></li>
                        </ul>
                            {% endif %}
                        </ul>
                    </div>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <h4>Bonjour {{ app.user.nom ~ '' ~ app.user.prenom }}</h4>
                        {% endif %}
        </div>
    </nav>
</header>
<main class="container mb-5 mt-5">
<br>
  {% for message in app.flashes('error') %}
      <div class="alert alert-danger text-center"
          {{ message }}
  {% endfor %}
  {% for message in app.flashes('error') %}
      <div class="alert alert-success text-center"
          {{ message }}
  {% endfor %}
  {% block content %}{% endblock %}
</main>
<footer class="footer-custom">
        <p>&copy; 2017-2022 Égrégore livres<br>
        <mall>Des ouvrages engagés, des livres déroutants, des bouquins dépaysants.<br>
        <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees" target="_blank" class="text-decoration-none">RGPD</a> – <a href="#" class="text-decoration-none">CGV</a></mall> – <a href="https://egregorelivres.fr/" target="_blank" class="text-decoration-none">Site associé</a> – <a href="#" class=class="text-decoration-none">Contact</p>
</footer>
{% endblock %}